.navbar-brand img {
    width: 100px;
}

.navbar {
    background: linear-gradient(to right, rgb(0, 0, 0) 70%, rgb(65, 65, 65));
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    font-family: 'Courgette', cursive;

}

.nav-link {
    color: rgb(237, 243, 201);
    font-size: 20px;
}

.nav-link:hover {
    background-color: white;
    border-radius: 30px;
    text-decoration-line: underline;
    color: black;
    font-size: 20px;
}

.fas {
    font-size: 30px;
    color: rgb(237, 243, 201);
}

.aboutus {
    background: linear-gradient(to right, #111 70%, rgb(41, 23, 23));
    color: white;
    margin-top: 50px;
}

.aboutusheader {
    text-align: center;
}

.col-lg-7 h1 {
    font-size: 40px;

}

.col-lg-7 p {
    font-size: 20px;
}

.hr {
    width: 40%;
    height: 2px;
    margin: 20px auto;
    background: linear-gradient(to right, #111, rgb(233, 66, 94), #111);
}

.map img {
    margin-top: 10px;
    width: 80%;
    border-radius: 10px;
}

.ahly img {
    margin-top: 130px;
    width: 80%;
    border-radius: 20px;
}

@media(max-width:375px) {

    .ahly img {
        margin-top: 0px;
        margin-left: 30px;
    }

    .col-lg-7 {
        text-align: left;
    }

    .col-lg-7 h1 {
        font-size: 50px;

    }

    .col-lg-7 p {
        font-size: 15px;
    }
}

.gallary {
    color: white;
    background: linear-gradient(to right, #111 70%, rgb(22, 17, 17));
}

.nav-tabs {
    border: 2px solid white;
    border-radius: 20px;
    margin: 0px 50px;
}

.tab-content img {
    border: 1px solid black;
    margin: 10px 0px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(66, 64, 64);
}

@media(max-width:375px) {
    .nav-tabs {
        justify-content: space-around;
    }

    .tab-content img {
        margin-left: 51px;

    }
}

@media(max-width:360px) {
    .nav-tabs {
        justify-content: space-around;
    }

    .tab-content img {
        margin-left: 43px;

    }
}

.footer {
    margin-top: 50px;
    background: linear-gradient(to right, #111 70%, rgb(22, 17, 17));
    color: white;
}

.footer h3 {
    font-size: 40px;
}

.footer p {
    font-size: 20px;
}

.footer,
hr {
    border: 1px solid white;
}

.disha img {
    width: 40px;
}